.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.navbar-center {
  color: #ffffff70;
  font-size: calc(1px + 2vmin);
  margin-left: auto;
  margin-right: auto;
}

.App-home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  /* background-color: 	#778899; */
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #7283a7;
}

@keyframes App-home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-home-logo {
    animation: App-home-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
}
